@model Setting

<div class="col-lg-4">
	<div class="contact-location mb--40">
		<h4 class="title mb--20">Bize Ulaşın</h4>
		<span class="address mb--20">@Model.Address</span>
		<span class="phone">Telefon: @Model.Telephone</span>
		<span class="email">Email: @Model.Email</span>
	</div>

	<div class="opening-hour">
		<h4 class="title mb--20"  >Çalışma Saatleri</h4>
		<p>
			Pazartesi - Cumartesi: 9.00 - 22.00
			<br> Pazar: Kapalı
		</p>
	</div>
</div>