@{
    ViewData["Title"] = "StatusEdit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model Status


<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8 ">

        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    STATÜ GÜNCELLEME FORMU
                </div>

            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" action="/Admin/StatusEdit" method="post">
                    <div class="form-body">



                        <div class="form-group">
                            @*<label class="col-md-3 control-label">Kategori Adı</label>*@
                            <label class="col-md-3 control-label" asp-for="StatusName"></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-lg" placeholder="Statü adı buraya" asp-for="StatusName">
                                <span asp-validation-for="StatusName" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-md-3 control-label">Aktif mi?</label>
                            <div class="col-md-9">
                                <input asp-for="Active" class="form-control input-lg" />
                                <span asp-validation-for="Active" class="text-danger"></span>

                            </div>
                        </div>


                    </div>

                    <input type="hidden" asp-for="StatusID" />


                    <div class="form-actions right1">
                        <a asp-action="StatusIndex" class="btn btn-primary">STATÜ LİSTESİ</a>
                        <input type="submit" name="name" value="GÜNCELLE" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->

    </div>

</div>



