@model MainPageModel
@{
    ViewData["Title"] = "OpportunityProducts";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="axil-breadcrumb-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="inner">
                    <h1 class="title">FIRSAT ÜRÜNLERİ</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area  -->
<!-- Start Shop Area  -->
<div class="axil-shop-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row row--15" id="products">
            @foreach (var item in Model.OpportunityProducts)
            {
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="axil-product product-style-one has-color-pick mt--40">
                        <div class="thumbnail">
                            <a href="/Home/Details/@item.ProductID">
                                <img src="~/resimler/@item.PhotoPath" alt="Product Images">
                            </a>
                            <div class="product-hover-action">
                                <ul class="cart-action">
                                    <li class="select-option"><a href="/Home/CartProcess/@item.ProductID">Sepete Ekle</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="inner">
                                <h5 class="title"><a href="/Home/Details/@item.ProductID">@item.ProductName</a></h5>
                                <div class="product-price-variant">
                                    <span class="price current-price">@item.UnitPrice</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>



        <div id="loadmoreProducts">
            <div class="s-poraduct-botton">
                <input type="submit" name="name" value="DAHA FAZLA ÜRÜN GETİR" />
            </div>
        </div>


    </div>
    <input type="hidden" id="pagenumber" value="0" />
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).on("click", "#loadmoreProducts", function () {

        var pagenumber = parseInt($("#pagenumber").val())
        var nextpage = pagenumber + 1;
        $.ajax({
            type: "GET",
            url: "/Home/_PartialOpportunityProducts",
            data: { pageno: nextpage },
            async: true,
            processData: true,
            cache: true,
            success: function (result) {
                $("#products").append(result)
                $("#pagenumber").val(+nextpage)
            }
        })

    })
</script>

